<div class="container">
  <header>
    <h1>投稿一覧</h1>
  </header>




<p><%= notice %></p>
<table class="container">
    <tr class="row">
      <th class="col-md-5">コメント</th>
      <th class="col-md-4">ユーザ名</th>
    </tr>

  <% @posts.each do |post| %>
    <tr class="row">
      <td class="col-md-5"><%= post.content %></td>
      <td class="col-md-4"><%= post.user.name %></td>
      <td class="col-md-1"><%= link_to '詳細を確認する', post_path(post.id) %></td>
      <td class="col-md-1"><%= link_to '編集する', edit_post_path(post.id), data: {confirm:'本当に編集していいですか？'} %></td>
      <td class="col-md-1"><%= link_to '削除する', post_path(post.id),method: :delete, data: {confirm:'本当に削除していいですか？'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'TOPページへ','/index.html' %>
<%= link_to '新規投稿画面へ', new_post_path %>
</div>
