<!DOCTYPE html>
<html>
  <head>
    <title>Mizocafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
          <ul class="main-nav">
            <% if logged_in? %>
                <li><%= link_to 'TOPへ戻る','/index.html' %></li>
                <li><%= link_to 'プロフィール',user_path(current_user.id) %></li>
                <li><%= link_to 'ログアウト',session_path(current_user.id),method: :delete %></li>
            <% else %>
                <li><%= link_to 'TOPへ戻る','/index.html' %></li>
                <li><%= link_to 'メンバー登録', new_user_path %></li>
                <li><%= link_to 'ログイン', new_session_path %></li>
            <% end %>
          </ul>
    </header>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class:"#{key}") %>
    <% end %>

    <%= yield %>
    <footer>
      <p>運営　Mizocafe（株）</p>
      <p>Copyright 2020</p>
    </footer>
  </body>
</html>
