<!DOCTYPE html>
<html>
  <head>
    <title>Mizocafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    </header>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class:"#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to 'TOPへ戻る','/index.html' %>
      <%= link_to 'プロフィール',user_path(current_user.id) %>
      <%= link_to 'ログアウト',session_path(current_user.id),method: :delete %>
    <% else %>
      <%= link_to 'TOPへ戻る','/index.html' %>
      <%= link_to 'メンバー登録', new_user_path %>
      <%= link_to 'ログイン', new_session_path %>
    <% end %>
    <%= yield %>
    <footer>
      <p>運営　Mizocafe（株）</p>
      <p>Copyright 2020</p>
    </footer>
  </body>
</html>
